<KazarmaWeb.Components.Drawer.drawer>
  <:sidebar>
    <KazarmaWeb.Components.Profile.show actor={@actor} />
  </:sidebar>
  <:button>
    <%= display_name(@actor) %>
  </:button>
  <:page>
    <div class="mx-4 lg:mx-12 col-span-2">
      <KazarmaWeb.Components.ActivityList.show
        object={@object}
        previous_objects={@previous_objects}
        next_objects={@next_objects}
        actor={@actor}
        socket={@socket}
      />
    </div>
  </:page>
</KazarmaWeb.Components.Drawer.drawer>
