/* SPDX-FileCopyrightText: 2020-2023 The Kazarma Team */
/* SPDX-License-Identifier: AGPL-3.0-only */

/* This file is for your main application css. */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts.css";

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.overflow-y-unset {
  overflow-y: unset !important
}

.max-h-unset {
  max-height: unset !important
}

header {
    background: linear-gradient(
        to right,
        #ff7b52,
        #ff2ef0);
}
