<a class="sr-only" href="#main"><%= gettext("Skip to content") %></a>
<a class="sr-only" href="#search_address"><%= gettext("Skip to search") %></a>
<header class="navbar sticky h-28 sm:h-16 top-0 z-50 shadow-lg justify-between flex-wrap items-center p-0">
  <div class="flex-none m-2 lg:m-4 lg:flex order-1">
    <.link
      navigate={Routes.index_path(@socket, :index)}
      class="text-2xl text-black font-bold link link-hover"
    >
      kazarma
    </.link>
  </div>
  <div class="flex-grow lg:max-w-3xl m-2 mt-0 lg:mt-2 lg:mx-auto lg:inset-x-0 order-4 sm:order-2">
    <.search socket={@socket} />
  </div>
  <div class="flex-none lg:flex order-3 sm:order-4">
    <._locale_dropdown
      current_locale={Gettext.get_locale(KazarmaWeb.Gettext)}
      locales={Gettext.known_locales(KazarmaWeb.Gettext)}
    />
    <%= link [
          to: "https://docs.kazar.ma",
          target: "_blank",
          aria_label: gettext("Help"),
          title: gettext("Help"),
          class: "p-2 lg:p-4 text-2xl font-bold"
] do %>
      <KazarmaWeb.Components.Icon.help_icon />
    <% end %>
  </div>
  <._log_level level={Application.get_env(:logger, :level)} />
</header>
<main role="main" id="main" class="w-full">
  <!-- <main role="main" id="main" class="w-full container mx-auto py-6 flex flex-col lg:flex-row"> -->
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
